<script>
    console.log("hello oxdoc")
</script>
<script src="../js/omni.js" type="text/javascript"></script>

<table><tr>
<td>
<table><tr><td><img src="https://omnixtar.github.io/m/img/icon-oxw.png" height="60"></td><td><h2>
<a href="https://omnixtar.github.io/overview/"> Omni*Web </a>
</h2></td></tr></table> 
</td>

<td>

    <!-- table><tr><td><img src="https://omnixtar.github.io/m/img/icon-oxw.png" height="60"></td>
<td>
<h1><a href="https://omnixtar.github.io/overview/">*</a></h1>
</td></tr></table -->

</td></tr></table>

